logic-apps/01-register-user.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_if_user_exists": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('Users'))}/items",
                    "queries": {
                        "$filter": "email eq '@{triggerBody()?['email']}' or username eq '@{triggerBody()?['username']}'"
                    }
                }
            },
            "Condition_User_Exists": {
                "actions": {
                    "Response_409_Conflict": {
                        "inputs": {
                            "body": {
                                "error": "User already exists"
                            },
                            "statusCode": 409
                        },
                        "kind": "Http",
                        "runAfter": {},
                        "type": "Response"
                    }
                },
                "else": {
                    "actions": {
                        "Insert_User": {
                            "inputs": {
                                "body": {
                                    "email": "@{triggerBody()?['email']}",
                                    "password_hash": "@{triggerBody()?['password']}",
                                    "username": "@{triggerBody()?['username']}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('Users'))}/items"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Response_201_Created": {
                            "inputs": {
                                "body": "@body('Insert_User')",
                                "statusCode": 201
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Insert_User": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(body('Check_if_user_exists')?['value'])",
                                0
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Check_if_user_exists": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "email": {
                                "type": "string"
                            },
                            "password": {
                                "type": "string"
                            },
                            "username": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sql": {
                    "connectionId": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/resourceGroups/ReadWise-RG/providers/Microsoft.Web/connections/sql-2",
                    "connectionName": "sql-2",
                    "id": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/providers/Microsoft.Web/locations/uksouth/managedApis/sql"
                }
            }
        }
    }
}