logic-apps/02-login-user.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Query_user_by_email": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('Users'))}/items",
                    "queries": {
                        "$filter": "email eq '@{triggerBody()?['email']}'"
                    }
                }
            },
            "Check_user_exists": {
                "runAfter": {
                    "Query_user_by_email": [
                        "Succeeded"
                    ]
                },
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(body('Query_user_by_email')?['value'])",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Check_password": {
                        "runAfter": {},
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@first(body('Query_user_by_email')?['value'])?['password_hash']",
                                        "@{triggerBody()?['password']}"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Response_200_OK": {
                                "inputs": {
                                    "body": {
                                        "id": "@{first(body('Query_user_by_email')?['value'])?['id']}",
                                        "username": "@{first(body('Query_user_by_email')?['value'])?['username']}",
                                        "email": "@{first(body('Query_user_by_email')?['value'])?['email']}"
                                    },
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {},
                                "type": "Response"
                            }
                        },
                        "else": {
                            "actions": {
                                "Response_wrong_password": {
                                    "inputs": {
                                        "body": {
                                            "error": "Invalid password"
                                        },
                                        "statusCode": 401
                                    },
                                    "kind": "Http",
                                    "runAfter": {},
                                    "type": "Response"
                                }
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Response_user_not_found": {
                            "inputs": {
                                "body": {
                                    "error": "User not found"
                                },
                                "statusCode": 404
                            },
                            "kind": "Http",
                            "runAfter": {},
                            "type": "Response"
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "email": {
                                "type": "string"
                            },
                            "password": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sql": {
                    "connectionId": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/resourceGroups/ReadWise-RG/providers/Microsoft.Web/connections/sql-2",
                    "connectionName": "sql-2",
                    "id": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/providers/Microsoft.Web/locations/uksouth/managedApis/sql"
                }
            }
        }
    }
}
