logic-apps/03-create-journal.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "type": "string"
                            },
                            "content": {
                                "type": "string"
                            },
                            "userId": {
                                "type": "string"
                            },
                            "username": {
                                "type": "string"
                            },
                            "coverUrl": {
                                "type": "string"
                            },
                            "notesUrl": {
                                "type": "string"
                            },
                            "audioUrl": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "title",
                            "content",
                            "userId",
                            "username"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Initialize_journalId": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "journalId",
                            "type": "string",
                            "value": "@{guid()}"
                        }
                    ]
                }
            },
            "Create_Journal_Document": {
                "runAfter": {
                    "Initialize_journalId": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/cosmosdb/@{encodeURIComponent('readwisecosmos')}/dbs/@{encodeURIComponent('ReadWiseContentDB')}/colls/@{encodeURIComponent('Journals')}/docs",
                    "body": {
                        "id": "@{variables('journalId')}",
                        "userId": "@{triggerBody()?['userId']}",
                        "username": "@{triggerBody()?['username']}",
                        "title": "@{triggerBody()?['title']}",
                        "content": "@{triggerBody()?['content']}",
                        "coverUrl": "@{coalesce(triggerBody()?['coverUrl'], '')}",
                        "notesUrl": "@{coalesce(triggerBody()?['notesUrl'], '')}",
                        "audioUrl": "@{coalesce(triggerBody()?['audioUrl'], '')}",
                        "created_at": "@{utcNow()}",
                        "updated_at": "@{utcNow()}"
                    },
                    "headers": {
                        "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['userId']}\""
                    }
                }
            },
            "Response_success": {
                "runAfter": {
                    "Create_Journal_Document": [
                        "Succeeded"
                    ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 201,
                    "headers": {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*"
                    },
                    "body": {
                        "success": true,
                        "message": "Journal created successfully",
                        "journal": {
                            "id": "@{variables('journalId')}",
                            "title": "@{triggerBody()?['title']}",
                            "userId": "@{triggerBody()?['userId']}"
                        }
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "documentdb": {
                    "id": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/providers/Microsoft.Web/locations/uksouth/managedApis/documentdb",
                    "connectionId": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/resourceGroups/ReadWise-RG/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb"
                }
            }
        }
    }
}