logic-apps/06-get-journals.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET",
                    "relativePath": "/journals",
                    "schema": {}
                }
            }
        },
        "actions": {
            "Initialize_userId": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "requestedUserId",
                            "type": "string",
                            "value": "@{coalesce(triggerOutputs()?['queries']?['userId'], '')}"
                        }
                    ]
                }
            },
            "Get_all_documents": {
                "runAfter": {
                    "Initialize_userId": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/cosmosdb/@{encodeURIComponent('readwisecosmos')}/dbs/@{encodeURIComponent('ReadWiseContentDB')}/colls/@{encodeURIComponent('Journals')}/docs"
                }
            },
            "Check_if_filter_needed": {
                "runAfter": {
                    "Get_all_documents": [
                        "Succeeded"
                    ]
                },
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@variables('requestedUserId')",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Filter_by_userId": {
                        "runAfter": {},
                        "type": "Query",
                        "inputs": {
                            "from": "@body('Get_all_documents')?['Documents']",
                            "where": "@equals(string(item()?['userId']), variables('requestedUserId'))"
                        }
                    },
                    "Response_filtered": {
                        "runAfter": {
                            "Filter_by_userId": [
                                "Succeeded"
                            ]
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "headers": {
                                "Content-Type": "application/json",
                                "Access-Control-Allow-Origin": "*"
                            },
                            "body": "@body('Filter_by_userId')"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Response_all": {
                            "runAfter": {},
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "headers": {
                                    "Content-Type": "application/json",
                                    "Access-Control-Allow-Origin": "*"
                                },
                                "body": "@body('Get_all_documents')?['Documents']"
                            }
                        }
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "documentdb": {
                    "id": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/providers/Microsoft.Web/locations/uksouth/managedApis/documentdb",
                    "connectionId": "/subscriptions/4a3defe0-aba0-41e1-9966-de8f64dbe2b3/resourceGroups/ReadWise-RG/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb"
                }
            }
        }
    }
}